* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: sans-serif;
  background-color: #fff8e7;
  overflow: hidden;
  position: relative;
}
.text {
  position: absolute;
  top: 2rem;          /* distancia desde la parte superior de la pantalla */
  width: 70%;
  text-align: center;
font-family: 'Playfair Display', serif;
font-weight: 500;
font-style: italic;

  font-size: 1rem;
  color: #3B4049;
  z-index: 5;          /* para que quede por encima del envelope */
}


.wrapper {
  height: 200px;
  width: 300px;
  background-color: #f2d865;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
  border-radius: 4px; /* opcional, suaviza un poco los bordes */
}


.lid {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-right: 150px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: transform 0.25s linear;
}

/* Lid when closed */
.lid.one {
  border-top: 100px solid #f2d865; /* amarillo soft */
  transform: rotateX(0deg);
  z-index: 3;
  transition-delay: 0.75s;
}

/* Lid when opened */
.lid.two {
  border-top: 100px solid #f7d76b; /* un tono un poco más oscuro para contraste */
  transform: rotateX(90deg);
  z-index: 1;
  transition-delay: 0.5s;
}

.envelope {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-top: 100px solid transparent;
  border-right: 150px solid #fff3b0; /* amarillo pastel */
  border-bottom: 100px solid #fff3b0;
  border-left: 150px solid #ffe680; /* ligeramente más saturado */
  z-index: 3;
}

.letter {
  position: absolute;
  top: 0;
  width: 80%;
  height: 350px;
  background-color: white;
  z-index: 2;
  transition: 0.9s;
}

.letter p {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  padding: 0 2rem;
  color: #3B4049;
  font-family: 'Sora', serif;
}
.letter p strong{
  text-align: justify;
  font-size: 20px;
  margin-top: 30px;
  color: #3B4049;
  font-family: 'Sora', serif;
}

.wrapper:hover .lid.one {
    transform: rotateX(90deg);
    transition-delay: 0s;
}

.wrapper:hover .lid.two {
    transform: rotateX(180deg);
    transition-delay: 0.25s;
}

.wrapper:hover .letter {
  transform: translateY(-300px);
  transition-delay: 1s;
}

